<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418942325913-sd2i7ecfguqde7gmak91hkgpl7defkib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418942325913-sd2i7ecfguqde7gmak91hkgpl7defkib</string>
	<key>API_KEY</key>
	<string>AIzaSyCCDj1KIq2jpDvFGLUETbZj3RchRGyEsH0</string>
	<key>GCM_SENDER_ID</key>
	<string>418942325913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appguiash.com.br.appGuiaSh</string>
	<key>PROJECT_ID</key>
	<string>guia66-77c17</string>
	<key>STORAGE_BUCKET</key>
	<string>guia66-77c17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418942325913:ios:d4f621faa2a4f2d9</string>
	<key>DATABASE_URL</key>
	<string>https://guia66-77c17.firebaseio.com</string>
</dict>
</plist>